---
---

// -------------- THEME SWITCHER -------------- //
@mixin dark-appearance {
  filter: invert(1);
  img {
    filter: invert(1);

    &.ioda { filter: invert(0); }
  }
}

body[a="dark"] { @include dark-appearance; }


@media (prefers-color-scheme: dark) {
  body[a="auto"] { @include dark-appearance; }
}
// -------------------------------------------- //

// bg color is also needed in html in order to
// block body's background propagation
// see: https://stackoverflow.com/a/61265706
html, body { background: black; }

html { height: 100%; }

body {
  color: white;
  background-image: url(bg.gif);
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  font-family: monospace;
  font-size: 1rem;
  line-height: 1.3;
  margin: 0;
  min-height: 100%;
}

.post-meta { text-align: right; }

h2, h3, h4, h5, h6 { margin-top: 3rem; }

hr { margin: 2rem 0; }

p { margin: 1rem 0; }

a { color: hotpink;}

ul {
  padding-left: 1rem;
}

li { margin: 0.4rem 0; }

*:target { background: yellow; }

.w {
  width: fit-content;
  max-width: 670px;
  margin: 0 auto;
  padding: 4rem 2rem;
}

hr {
  text-align: center;
  border: 0;

  &:before { content: '/////' }
  &:after { content: attr(data-content) '/////' }
}

table { width: 100%; }

table, th, td {
  border: medium solid #b04b62;
  border-collapse: collapse;
  padding: 0.4rem;
}

code {
  color: black;
  background: white;
}

div.highlighter-rouge code {
  display: block;
  overflow-x: auto;
  white-space: pre-wrap;
  padding: 1rem;
}

blockquote {
  font-style: italic;
  border: thin solid black;
  padding: 1rem;
  font-size: 0.7rem;

  p { margin: 0; }
}

img {
  max-width: 100%;
  display: block;
  margin: 0 auto;
}

.home-thumb {
  object-fit: cover;
  width: 200px;
  height: 200px;
}

.item-columns {
    flex: 1 1 auto;
    display: flex;
    flex-direction: row;
}

.item-left {
    flex: 1 1 auto;
    width: 40%;
    flex-flow: row;
    align-content: center;
}

.item-right {
    flex: 1 1 auto;
    width: 50%;
    display: flex;
    flex-flow: row;
    justify-content: right;
}

.grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
    gap: 16px;
    width: 100%;
}

.gridcontainer {
    flex: 1 1 auto;
    margin: 3%;
    text-align: center;
    min-width: 600px;
}

.item-grid {
    flex: 1 1 auto;
    display: flex;
    flex-flow: row;
}